<header class="app-header">
  <div class="left-section">
    <div class="logo">
      <a routerLink="/">WattpadClone</a>
    </div>
    <input
      type="text"
      placeholder="Search stories..."
      class="search-input"
      (keydown.enter)="onSearch(searchInput.value)"
      #searchInput
    />
  </div>

  <div class="right-section">
    <nav>
      <a routerLink="/explore">Explore</a>
      <a routerLink="/library" *ngIf="isLoggedIn">Library</a>
      <a routerLink="/dashboard" *ngIf="isLoggedIn">My Stories</a>
    </nav>

    <div *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn">Login</a>
    </div>
    <app-dropdown-menu [showMenu]="isLoggedIn"></app-dropdown-menu>
  </div>
</header>
