<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <h2>Register</h2>

    <label for="first_name">First Name</label>
    <input id="first_name" type="text" formControlName="firstName" />

    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" formControlName="lastName" />

    <label for="userName">Username</label>
    <input id="userName" type="text" formControlName="userName" />

    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />

    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" />

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
