<div class="follower-item">
  <div class="follower-avatar">
    <img
      *ngIf="follower.avatar"
      [src]="follower.avatar"
      [alt]="follower.displayName"
      class="avatar-img"
    />
    <div *ngIf="!follower.avatar" class="avatar-placeholder">
      {{ getInitials(follower.displayName) }}
    </div>
  </div>
  <div class="follower-info">
    <div class="follower-name">
      <span class="display-name">{{ follower.displayName }}</span>
      <svg
        *ngIf="follower.isVerified"
        class="verified-icon"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
    <span class="username">{{ '@' + follower.username }}</span>
  </div>
  <button class="follow-button">Follow</button>
</div>
