<div class="follower-item">
  <div class="follower-avatar">
    <img
      *ngIf="follower?.imgUrl"
      [src]="follower?.imgUrl"
      [alt]="follower?.userName"
      class="avatar-img"
    />
    <div *ngIf="!follower?.imgUrl" class="avatar-placeholder">
      {{ getInitials(follower?.firstName ?? "", follower?.lastName ?? "") }}
    </div>
  </div>
  <div class="follower-info">
    <div class="follower-name">
      <span class="display-name">{{ follower?.userName }}</span>
    </div>
    <span class="username">{{ "@" + follower?.userName }}</span>
  </div>
  <button class="follow-button" (click)="unFollowUser()">unfollow</button>
</div>
