<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>

    <label for="userName">User Name</label>
    <input id="userName" type="text" formControlName="userName" />

    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />

    <button type="submit" [disabled]="loginForm.invalid">Log In</button>
    <div class="register-link">
      <p>Don't have a profile? <a routerLink="/register">Create one</a></p>
    </div>
  </form>
</div>
