<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>

    <label for="userName">User Name</label>
    <input id="userName" type="text" [(ngModel)]="userName" formControlName="userName" />

    <label for="password">Password</label>
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        id="password"
        formControlName="password"
      />
      <span class="eyeicon" (click)="togglePasswordVisibility()">
        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
        ></i>
      </span>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Log In</button>
    <div class="register-link">
      <p>Don't have a profile? <a routerLink="/register">Create one</a></p>
    </div>
    <div *ngIf="error" style="color:red">{{ error }}</div>
  </form>
</div>
