<div class="my-works-container">
  <div class="page-header-container">
    <h1 class="page-title">My Stories</h1>
    <a class="page-link" [routerLink]="['/myworks', 'new']">+ New Story</a>
  </div>

  <div class="content-area">
    <div class="my-stories-card">
      <div *ngIf="stories && stories.length > 0; else noStories">
        <div *ngFor="let story of stories" class="story-card">
          <div class="img-block">
            <img
              [src]="story.coverImageUrl || 'assets/default-cover.png'"
              alt="Story Cover"
              class="cover"
            />
          </div>
          <div class="story-block">
            <div class="story-info-actions">
              <div class="story-info">
                <h3 class="story-title">
                  {{ story.title || "Untitled Story" }}
                </h3>
                <p class="story-meta">
                  {{ publishedStoryCount }}
                  {{ publishedStoryCount === 1 ? "Draft" : "Drafts" }}<br />
                  Updated {{ getFormattedDate(story.updatedAt) }}
                </p>
              </div>

              <div class="story-actions">
                <button class="continue-btn" (click)="onContinueWriting(story)">
                  Continue writing
                </button>

                <div *ngIf="selectedStory === story" class="dropdown">
                  <div class="dropdown-menu" *ngIf="isMenuOpen">
                    <!-- Chapter Dropdown -->
                    <div class="chapter-dropdown">
                      <div class="chapter-list">
                        <ng-container
                          *ngIf="
                            selectedStory.chapters &&
                              selectedStory.chapters.length > 0;
                            else noChapter
                          "
                        >
                          <a
                            *ngFor="let chapter of selectedStory.chapters"
                            class="chapter"
                            [routerLink]="[
                              '/myworks',
                              selectedStory.id,
                              'write',
                              chapter.id
                            ]"
                            (click)="closeAllMenus()"
                          >
                            <div class="chapter-info">
                              <div class="chapter-header">
                                <p class="chapter-title">
                                  {{ chapter.title }}
                                </p>
                                <p class="chapter-status">
                                  Status: {{ chapter.status }} | Date:
                                  {{ getFormattedDate(chapter.updatedAt) }}
                                </p>
                              </div>
                            </div>
                          </a>
                        </ng-container>
                      </div>
                    </div>
                    <div class="new-part" (click)="createNewPart(selectedStory.chapters, selectedStory.id)">
                      New part
                    </div>
                  </div>
                </div>
                <button class="delete-btn" (click)="deleteStory(story)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noStories>
        <p>No stories yet.</p>
      </ng-template>

      <ng-template #noChapter>
        <p>No chapters yet.</p>
      </ng-template>
    </div>
  </div>
</div>
