<div class="profile-container">
  <div class="img-container">
    <img
      src="assets/img/profile.jpg"
      alt="Profile Picture"
      class="profile-picture"
    />
    <div class="full-name">{{ profile.firstName }} {{profile.lastName}}</div>
    <div class="username">{{ "@" + profile.userName }}</div>
    <div class="stats">
      <div>Works {{ 0 }}</div>
      <div>Reading List {{ profile.userstats?.readCount }}</div>
      <div>Followers {{ profile.userstats?.followerCount }}</div>
    </div>
  </div>

  <div class="profile-header">
    <div class="profile-stats">
      <div class="left-section">
        <a [routerLink]="['about']" routerLinkActive="active" class="tab"
          >About</a
        >
        <a
          [routerLink]="['conversations']"
          routerLinkActive="active"
          class="tab"
          >Conversations</a
        >
        <a [routerLink]="['following']" routerLinkActive="active" class="tab"
          >Following</a
        >
      </div>
      <div class="right-section">
        <div class="tab edit">Edit Profile</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
