<div class="profile-container">
  <div class="img-container">
    <label for="profileImageInput" class="clickable-image">
      <img
        [src]="profile?.userProfileDto?.imageUrl || 'assets/img/profile.jpg'"
        alt="Profile Picture"
        class="profile-picture"
      />
    </label>
    <input
      type="file"
      id="profileImageInput"
      (change)="onImageSelected($event)"
      *ngIf="isOwnProfile"
      accept="image/*"
      hidden
    />

    <div class="full-name">{{ profile?.firstName }} {{ profile?.lastName }}</div>
    <div class="username">{{ "@" + profile?.userName }}</div>
    <div class="stats">
      <div>Works {{ 0 }}</div>
      <div>Reading List {{ profile?.userStatsDto?.readCount }}</div>
      <div>Followers {{ profile?.userStatsDto?.followerCount }}</div>
    </div>
  </div>

  <div class="profile-header">
    <div class="profile-stats">
      <div class="left-section">
        <a [routerLink]="['about']" routerLinkActive="active" class="tab"
          >About</a
        >
        <a
          [routerLink]="['conversations']"
          routerLinkActive="active"
          class="tab"
          >Conversations</a
        >
        <a [routerLink]="['following']" routerLinkActive="active" class="tab"
          >Following</a
        >
      </div>
      <div class="right-section">
        <div (click)="openProfileDialog()" class="tab edit" *ngIf="isOwnProfile">Edit Profile</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-profile-dialog [(ShowDialog)]="ShowDialog" />
