<div class="container">
  <div class="mystories-list">
    <div class="list-title">Story by {{ profile?.userName }}</div>
    <div class="list-subtitle">
      {{ publishedStoryCount }} Published Stories
      <span *ngIf="isOwnProfile"
        >• {{ draftStoryCount }} Draft (only visible to you)</span
      >
    </div>
    <ng-container *ngFor="let story of stories | slice : 0 : visibleCount">
      <div
        class="story-card"
        *ngIf="
          story.status === 'PUBLISHED' ||
          (isOwnProfile &&
            (story.status === 'DRAFT' || story.status === 'ARCHIVED'))
        "
      >
        <a
          [routerLink]="[
            '/story',
            story.id + '-' + (story.title || '' | lowercase | replaceSpaces)
          ]"
        >
          <img
            *ngIf="story.coverImageUrl; else noImage"
            [src]="story.coverImageUrl"
            alt="Cover"
            class="cover"
          />
        </a>

        <ng-template #noImage>
          <div class="cover placeholder">No image</div>
        </ng-template>

        <div class="story-content">
          <a
            [routerLink]="[
              '/story',
              story.id + '-' + (story.title || '' | lowercase | replaceSpaces)
            ]"
            ><h2>{{ story.title }}</h2></a
          >
          <p>
            {{ story.description | slice : 0 : 240 }}
            {{ story.description!.length > 240 ? "..." : "" }}
          </p>
        </div>
      </div>
    </ng-container>

    <button
      *ngIf="visibleCount < stories!.length"
      (click)="showMore()"
      class="show-more"
    >
      Show more
    </button>
  </div>
  <div class="reading-lists">
    <div class="header">
      <h1>{{ profile?.userStatsDto?.readCount }} Reading List</h1>
      <div class="header-controls" *ngIf="isOwnProfile">
        <button class="btn add-btn">+ Add</button>
        <a [routerLink]="['/list']"><button class="btn">⚙️</button></a>
      </div>
    </div>

    <div class="list-header">
      <div class="list-title">
        {{ profile?.userName }}'s Reading List
        <span class="arrow">›</span>
      </div>
      <div class="list-subtitle">
        Reading List • {{ profile?.userStatsDto?.readCount }} Stories
      </div>
    </div>
  </div>
</div>
